<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674533574187-l3mg41s382fu617sus819glh9miihd6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674533574187-l3mg41s382fu617sus819glh9miihd6b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>674533574187-jmfis8locl3ar319pb9bd4aaaocfib5n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXqXYdmifqmPKo2WVUgjkmHQUvdRdUwHc</string>
	<key>GCM_SENDER_ID</key>
	<string>674533574187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odelan.stars</string>
	<key>PROJECT_ID</key>
	<string>stars-c376e</string>
	<key>STORAGE_BUCKET</key>
	<string>stars-c376e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674533574187:ios:2b4524512b97c64ea28c6e</string>
</dict>
</plist>